.food-desc {
    text-align: justify;
    text-justify: inter-word;
    padding: 0 40px;
    height: 99.2px;
}

.info-box {
    display: flex;
    justify-content: space-around;
    margin: -10px auto -30px;
    width: 320px;
    align-items: center;
}

.add-to-cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}

.info-text {
    color:#555555
}

.info-border {
    border: solid 1px #F6B506;
    width: 350px;
    margin: 10px auto;
    border-radius: 5px;
}

.center {
    text-align: center;
}

.modal-dialog-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    background-color: white;
    width: 300px;
    border: solid 1px #555555;
}

.icon-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-image-holder {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto
}

@media(min-width: 600px) {
    .info-border {
        margin: 10px;
    }
}