.event-display-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #555555;
    border: solid 1px #F6B506;
    margin: 10px auto;
    width: 350px;
    border-radius: 5px;
}

.text-color {
    color: #555555
}

a {
    color: #555555
}