.header-block {
    width: auto;
    height: 60px;
    background-color: #75ADE0;
    overflow: hidden; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 6;
    overflow: hidden;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 117px;
    color: #F6B506;
}

.selector-box {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 100px;
}

.hiddenavbar {
    height: 1px;
    width: 100vw;;
    overflow: hidden;
    transition: .5s;
    padding: 0px;
    position: absolute;
    z-index: 4;
  }

  .navbar {
    height: 150px;
    width: 100vw;
    background-color: #555555;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0px;
    transition: .5s;
    position: absolute;
    z-index: 5;
    overflow: hidden;
  }

  .dropmenuhidden {
    display: none;
    transition: 2.5s;
  }

  .dropmenu {
    color: white;
    transition: 2.5s;
  }

  .login-bar {
    height: 150px;
    width: 100vw;
    background-color: #555555;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0px;
    transition: .5s;
    position: absolute;
    z-index: 5;
    color: white;
    overflow: hidden;
  }

  .hidden-login-bar {
    height: 1px;
    width: 100vw;;
    overflow: hidden;
    transition: .5s;
    padding: 0px;
    position: absolute;
    z-index: 4;
  }

  .hidden-account-icon {
    display: none;
  }

  .account-icon {
    border-radius: 50%;
  }

  .account-icon-placeholder {
    display: inline;
  }

  .plus-icon {
    display: inline;
  }

  .hide-catering {
    display: none;
  }

  .link-buttons {
    display: none;
  }

  .account-icon-desktop {
    display: inline;
  }

  @media(min-width: 600px) {
    .icon-box {
      margin: 0 0 0 40px;
      width: 190px;
    }
    .hide-catering {
      display: inline;
    }
    .account-icon-placeholder {
      display: none;
    }
    .plus-icon {
      display: none;
    }
    .link-buttons {
      display: flex;
      width: 400px;
      justify-content: space-around;
      color: #F6B506;
      margin: 0 40px 0 0;
      align-items: center;
    }
    .login-bar {
      display: none;
    }
    .navbar {
      display: none;
    }
    .account-icon {
      display: none;
    }
  }