.header-block {
    width: auto;
    height: 60px;
    background-color: #75ADE0;
    overflow: hidden; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 6;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 117px;
    color: #F6B506;
}

.selector-box {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 100px;
}

.hiddenavbar {
    height: 1px;
    width: 100vw;;
    overflow: hidden;
    transition: .5s;
    padding: 0px;
    position: absolute;
    z-index: 4;
  }

  .navbar {
    height: 150px;
    width: 100vw;
    background-color: #555555;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0px;
    transition: .5s;
    position: absolute;
    z-index: 5;
  }

  .dropmenuhidden {
    display: none;
    transition: 2.5s;
  }

  .dropmenu {
    color: white;
    transition: 2.5s;
  }

  .login-bar {
    height: 75px;
    width: 100vw;
    background-color: #555555;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0px;
    transition: .5s;
    position: absolute;
    z-index: 5;
    color: white;
  }

  .hidden-login-bar {
    height: 1px;
    width: 100vw;;
    overflow: hidden;
    transition: .5s;
    padding: 0px;
    position: absolute;
    z-index: 4;
  }

  .hidden-account-icon {
    display: none;
  }

  .account_icon {
    border-radius: 50%;
  }