.review-background {
    /* background: linear-gradient(#75ADE0, white, #75ADE0); */
    border-top: 1px solid #F6B506;
    border-bottom: 1px solid #F6B506;
    margin: 5px 0 15px;
    overflow: hidden;
}